<particles *ngIf="particlesEnabed" [params]="particlesParams"
           [style]="particlesStyle" [width]="particlesWidth"
           [height]="particlesHeight">
</particles>
<particles *ngIf="particlesEnabed" [params]="particlesParamsBlackout"
           [style]="particlesStyle" [width]="particlesWidth"
           [height]="particlesHeight">
</particles>
<particles *ngIf="particlesEnabed" [params]="particlesParamsShips"
           [style]="particlesStyle" [width]="particlesWidth"
           [height]="particlesHeight">
</particles>
<mat-sidenav-container [ngClass]="(isEditor || !expanded ? 'small-nav' : '')" >
  <mat-sidenav class="nav" mode="side" opened="true">
    <div routerLink="/" class="nav-header" title="Go back home">
        Titan
    </div>
    <button class="user-info nav-button grey" routerLink="/account/"
          routerLinkActive="active-link" mat-button
          *ngIf="currentUser" title="Account preferences">
      <div>
        <img *ngIf="currentUser.imageUrl" class="avatar" src="{{currentUser.imageUrl}}"
             alt="{{currentUser.login}}">
        <mat-icon *ngIf="!currentUser.imageUrl" mat-font-icon="fa-user-circle-o"
            class="fa fa-user-circle-o fa-2x nav-icon">
        </mat-icon>
        <span class="button-text">{{currentUser.login}}</span>
      </div>
    </button>
    <button *ngIf="!currentUser" class="nav-button grey" mat-button (click)="openLoginModal()"
        title="Login">
      <mat-icon mat-font-icon="fa-sign-in" class="fa fa-sign-in fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Login</span>
    </button>
    <button *ngIf="currentUser" class="nav-button grey" mat-button (click)="logout()"
        title="Logout">
      <mat-icon mat-font-icon="fa-sign-out" class="fa fa-sign-out fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Logout</span>
    </button>
    <mat-menu #settingsMenu="matMenu" prevent-close="true">
      <form class="menu-settings">
        <mat-form-field (click)="$event.stopPropagation();">
          <mat-select placeholder="Language" [(ngModel)]="selectedLang" name="lang"
                      (selectionChange)="onLanguageChangeEvent()">
            <mat-option *ngFor="let lang of langs" [value]="lang.language"
                        (click)="onMenuItemClick()">
              {{lang.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field (click)="$event.stopPropagation();">
          <mat-select placeholder="Theme" [(ngModel)]="selectedTheme" name="theme"
                      (selectionChange)="onThemeChangeEvent()">
            <mat-option *ngFor="let theme of themes" [value]="theme.realName"
                        (click)="onMenuItemClick()">
              {{theme.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-menu>
    <button mat-button class="nav-button grey" [matMenuTriggerFor]="settingsMenu"
            title="Set your favorite language/theme">
      <mat-icon mat-font-icon="fa-cogs" class="fa fa-cogs fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Settings</span>
    </button>
    <button class="nav-button grey" routerLink="/courses/" routerLinkActive="active-link"
            mat-button title="List all courses">
      <mat-icon mat-font-icon="fa-graduation-cap" class="fa fa-graduation-cap fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Courses</span>
    </button>
    <button class="nav-button grey" routerLink="/challenges/" routerLinkActive="active-link"
            mat-button title="List all challenges">
      <mat-icon mat-font-icon="fa-university" class="fa fa-university fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Challenges</span>
    </button>
    <button class="nav-button grey" routerLinkActive="active-link" routerLink="/scoreboard/"
            mat-button  title="Display scoreboard">
      <mat-icon mat-font-icon="fa-bar-chart" class="fa fa-bar-chart fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Scoreboard</span>
    </button>
    <button class="nav-button grey" routerLink="/teams/" routerLinkActive="active-link"
            mat-button title="List all teams">
      <mat-icon mat-font-icon="fa-users" class="fa fa-users fa-2x nav-icon">
      </mat-icon>
      <span class="button-text">Teams</span>
    </button>
    <!-- <button class="nav-button grey" mat-button -->
        <!-- title="Create a team for a challenge"> -->
      <!-- <mat-icon mat-font-icon="fa-user-plus" class="fa fa-user-plus fa-2x nav-icon"> -->
      <!-- </mat-icon> -->
      <!-- <span class="button-text">Sign your team</span> -->
    <!-- </button> -->
    <!-- <button class="nav-button grey" mat-button -->
        <!-- title="Submitted exercices"> -->
      <!-- <mat-icon mat-font-icon="fa-pencil" class="fa fa-pencil fa-2x nav-icon"> -->
      <!-- </mat-icon> -->
      <!-- <span class="button-text">My submited exercices</span> -->
    <!-- </button> -->
    <button class="nav-button grey bottom" mat-button *ngIf="!isEditor"
        title="{{expanded?'Collapse':'Expand'}}" (click)="resizeMenu()">
      <mat-icon mat-font-icon="fa-caret-square-o-left"
                class="fa fa-caret-square-o-{{expanded?'left':'right'}} fa-2x nav-icon">
      </mat-icon>
    </button>

  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
