
<h3>You want to login?</h3>
<form (ngSubmit)="submitLogin()">
  <mat-form-field class="full-width">
      <input [(ngModel)]="login" matInput placeholder="Login" name="login">
  </mat-form-field>
  <mat-form-field class="full-width">
      <input [(ngModel)]="password" type="password" matInput placeholder="Password"
             name="password">
  </mat-form-field>
  <p class="red">
    {{msgError}}
  </p>
  <button type="submit" class="right" mat-raised-button color="primary">Login</button>
</form>
