
<mat-card *ngIf="!challenges && !errorMessage">
  Loading page...
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card *ngIf="challenges || errorMessage">
  <h1>All {{kindName}}s</h1>
  <mat-list>
    <p *ngIf="challenges && challenges.length < 1" mat-line>
      There is no {{kindName}}
    </p>
    <mat-list-item *ngFor="let challenge of challenges"
                   class="hoverable"
                   [routerLink]="getExercicesRoute(challenge.id)">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{challenge.name}}</h4>
      <p mat-line>
        {{challenge.description}}
      </p>
      <p mat-line>
        <i>{{challenge.exercices}} Exercices</i>
      </p>
      <p *ngIf="kindName===scope.Course">Progress<br>
        <b>{{challenge.score * 100}}&nbsp;%</b>
      </p>
      <p *ngIf="kindName===scope.Challenge">Registered
        <mat-icon mat-list-icon>
          {{ isRegistered(challenge.id) ? 'check_box' : 'check_box_outline_blank' }}
        </mat-icon>
      </p>
      <a *ngIf="kindName===scope.Challenge" [routerLink]="['/scoreboard', challenge.id]">Scores <mat-icon mat-list-icon>format_list_numbered</mat-icon></a>
      <a *ngIf="kindName===scope.Challenge" [routerLink]="['/teams', challenge.id]">Teams <mat-icon mat-list-icon>people</mat-icon></a>
    </mat-list-item>
    <mat-list-item *ngIf="errorMessage">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{errorMessage}}</h4>
    </mat-list-item>
  </mat-list>
</mat-card>
