<mat-card>
  <div *ngIf="!challengeList && !teams">
    Loading page...
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!challengeID && challengeList">
    <h3>Select a challenge</h3>

    <!-- <mat-form-field> -->
      <!-- <mat-select placeholder="Challenge Scope" [(ngModel)]="scope" name="scope" (selectionChange)="changeScope()"> -->
        <!-- <mat-option *ngFor="let sc of scopes" [value]="sc"> -->
          <!-- {{sc}} -->
        <!-- </mat-option> -->
      <!-- </mat-select> -->
    <!-- </mat-form-field> -->

    <mat-list>
      <mat-list-item *ngFor="let challenge of challengeList"
                     class="hoverable"
                     [routerLink]="['/teams', challenge.id]">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{challenge.name}}</h4>
        <p mat-line>
          {{challenge.description}}
        </p>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-list *ngIf="teams && teams.length < 1">
    <p mat-line>
      There is no teams for this challenge
    </p>
  </mat-list>
  <mat-list *ngFor="let team of teams">
    <mat-list-item class="team">
      <div mat-line class="team-content">
        <div class="team-header" title="{{team.name}}">
          <h3 mat-line class="team-name">{{team.name}}</h3>
          <mat-icon mat-list-icon class="big-icon team-icon">people</mat-icon>
        </div>
        <div class="team-members">
          <p class="person" *ngFor="let user of sortedMembers(team)">
            <span title="{{user.firstName}} {{user.lastName}}">
              <mat-icon *ngIf="team.creator.login != user.login" mat-list-icon>person</mat-icon>
              <mat-icon *ngIf="team.creator.login === user.login" mat-list-icon title="Owner">star</mat-icon>
              {{user.login}}
            </span>
          </p>
        </div>
      </div>
      <div *ngIf="isOwner(team.id)">
        <a class="edit" [routerLink]="['edit',team.id]">
          <mat-icon mat-list-icon>edit</mat-icon>Edit
        </a>
      </div>
      <div *ngIf="isMember(team.id)">
        <a class="edit" class="mat-warn" href="#" (click)="leaveTeam(team.id)">
          <mat-icon color="warn" mat-list-icon>highlight_off</mat-icon>Leave
        </a>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="errorMessage">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{errorMessage}}</h4>
    </mat-list-item>
  </mat-list>
</mat-card>