@import '~scss/variables.scss';

mat-card-actions {
  text-align: right;
}
form {
  /* margin-bottom: 10px; */
  text-align: right;
  height: 40px;
  margin-right: 10px;
}
form.stepper-form {
  text-align: left;
  height: auto;
  margin-right: auto;
}
.challenge-header form {
  display: inline-block;
  flex: 1;
}
.challenge-header {
  align-items: stretch;
}
.challenge-header .mat-card-header-text {
  display: inline-block;
  flex: 1;
  margin-bottom: 30px;
}
.challenge-header .mat-card-title {
  font-size: 16pt;
}
.challenge-header .mat-card-subtitle {
  font-size: 12pt;
}
.error-page-container {
  height: 100%;
}
.error-page-container .mat-card-content {
  display: inline-block;
}
.error-page-container h4.mat-line {
  display: inline-block;
  margin-left: 10px;
}
.error-page-container .mat-card-avatar {
  width: 100%;
  display: flex;
  align-items: center;
}
.panel-results .panel-header {
  display: flex;
  align-items: center;
}
.panel-results .panel-header .panel-description {
    display: inline-block;
    margin-right: 20px;
}
.panel-results .panel-header .panel-description .mat-icon.red {
  color: $text-error;
}
.panel-results .panel-header .panel-description .mat-icon.green {
  color: $text-success;
}
.panel-results .panel-header  .panel-title {
  display: inline-block;
}
.panel-results .result-detail-container {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-template-rows: auto 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}
.panel-results .result-detail-container .header-results {
  color: $primary-dark;
  font-weight: bold;
  padding-left: 5px;
}
.panel-results .result-detail-container > div > pre {
  margin: 0px;
  padding: 2px 5px;
  width: auto;
}
.panel-results .result-detail-container .console {
  width: auto;
  margin: 0px;
  overflow-x: auto;
  min-height: 100px;
  max-height: 150px;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.panel-results .result-detail-container .console pre {
  overflow: unset;
}
.panel-results .result-detail-container .ace_gutter {
  margin-right: 5px;
}
.nagigation-button {
  position: absolute;
  bottom: 10px;
  left: 25px;
}
.card-editor .exercice-content {
  margin-bottom: 0px;
}
.tab-editor form:not(.stepper-form),
.tab-editor .instructions,
.reduced-panel,
.tab-editor .panel-results {
  width: 80%;
  margin: auto;
  display: block;
}
.stderr {
  color: $text-error;
}
