@import '~scss/variables.scss';

markdown code {
  color: $primary-dark;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
markdown table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  background-color: $primary-very-dark;
  max-height: 100px;
}
markdown thead {
  background-color: $secondary-light;
  color: $primary-dark;
}
markdown thead > tr > th {
  padding: 5px;
}
markdown table > tbody {
  color: $secondary-light;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
markdown table > tbody > tr > td {
  padding-left: 15px;
  padding-right: 50px;
  width: 1%;
  white-space: nowrap;
  max-width: 1px;
  overflow: auto;
  vertical-align: top;
}
markdown table > tbody > tr > td:not(:last-child) {
  border-right: 1px solid $secondary-light;
}
markdown table > tbody > tr > td.code-cell {
  padding: 0px;
  margin: 0px;
  height: 1px;
}
markdown table > tbody > tr > td.code-cell > div {
  height: 100%;
}
markdown table > tbody > tr > td.code-cell pre {
  padding-left: 4px;
  margin: 0px;
}
markdown pre, markdown pre code {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  font-weight: normal;
}
/* markdown pre { */
  /* padding: 0px 15px; */
/* } */
markdown > pre,
markdown > pre code {
  color: $secondary-light;
  background-color: $primary-very-dark;
}
