@import '~scss/variables.scss';
@import '~scss/theme.scss';
@import '~scss/emoji.scss';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@if $is-dark {

  @include angular-material-theme($dark-theme);

  .light-theme {
    @include angular-material-theme($light-theme);
  }
} @else {
  @include angular-material-theme($light-theme);

  .dark-theme {
    @include angular-material-theme($dark-theme);
  }
}
