$is-dark: true;

body {
  background: #050010;
}
mat-sidenav-container {
  background: transparent;
}
.nav,
.mat-card,
.mat-stepper-horizontal,
.mat-stepper-vertical {
  background: #424242d9 !important;
}
.blur {
  position: absolute !important;
  left: -15px !important;
  top: -15px !important;
  width: 0px !important;
  height: 0px !important;
  z-index: -101 !important;
  background: transparent !important;
}
.home-container,
.stepper-form .mat-stepper-horizontal,
.mat-table,
.mat-paginator {
  background: transparent !important;
}
.mat-expansion-panel {
  background: rgba(0,0,0,0.2);
}
div.loading-img {
  width: 44px;
  height: 44px;
  margin: -10px;
  margin-left: 0px;
  margin-right: -20px;
  background-size: 44px;
}

