
$text-normal: mat-color($mat-gray, 300);
$text-success: mat-color($mat-green, 300);
$text-warn: mat-color($mat-orange, 500);
$text-error: mat-color($mat-red, 500);
$secondary: mat-color($mat-gray, 700);
$secondary-light: mat-color($mat-gray, 900);
$secondary-active: mat-color($mat-lime, A200);
$secondary-active-light: mat-color($mat-lime, 200);
$primary-light: mat-color($mat-yellow, 200);
$primary: mat-color($mat-yellow, A200);
$primary-dark: mat-color($mat-light-green, A400);
$primary-very-dark: mat-color($mat-gray, 900);
$logo-bg: mat-color($mat-grey, 800);
$logo-fg: mat-color($mat-yellow, A200);

$loading-img: url('./assets/images/loading-vador.gif');

$is-dark: false;

@import '~scss/particles.scss';

$dark-primary: mat-palette($mat-yellow, A200, A100, A300);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn:  mat-palette($mat-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
