@import '~@angular/material/theming';
@include mat-core();

$text-normal: mat-color($mat-gray, 600);
$text-success: mat-color($mat-green, 600);
$text-warn: mat-color($mat-deep-orange, 500);
$text-error: mat-color($mat-red, 500);
$secondary: mat-color($mat-gray, 300);
$secondary-light: mat-color($mat-gray, 50);
$secondary-active: mat-color($mat-light-blue, 400);
$secondary-active-light: mat-color($mat-light-blue, 100);
$primary-light: mat-color($mat-indigo, 200);
$primary: mat-color($mat-indigo, 500);
$primary-dark: mat-color($mat-indigo, 900);
$primary-very-dark: mat-color($mat-gray, 900);
$logo-bg: mat-color($mat-blue, 600);
$logo-fg: white;

$loading-img: url('./assets/images/loading-img.gif');

$is-dark: false;

$dark-primary: mat-palette($mat-yellow, A200, A100, A300);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn:  mat-palette($mat-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
